  
---
import Svg from './Svg.astro';
---
  <section id="contact">
    <div class="contact-content reveal">
      <div class="svg">
        <Svg />
      </div>
        <h2 class="section-title">Let's connect</h2>
        <p>Interested in starting a project? Let’s work together to build something innovative.</p>
        <a href="mailto:jkatherineaguilera@gmail.com" class="btn btn-primary">Enviar Correo</a>
        <div class="icons">
            <a target="_blank" href="https://www.linkedin.com/in/katherineaguileram/" style="color:var(--text-secondary); margin: 0 10px;"><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="https://github.com/KatherinAguilera" style="color:var(--text-secondary); margin: 0 10px;"><i class="fab fa-github"></i></a>
            <a href="tel: +57 3123558878" style="color:var(--text-secondary); margin: 0 10px;"><i class="fa-solid fa-phone"></i></a>
        </div>
        <div class="svg1">
          <Svg />
      </div>
    </div>
  </section>